<!DOCTYPE html>
<html>
    <head>
        <title>Sudoku solver</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'sudoku_solver/style.css' %}">
        <script src="{% static 'sudoku_solver/board.js' %}" defer></script>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home'%}">Solver</a></li>
                <li><a href="{% url 'details'%}">Details</a></li>
            </ul>
        </nav>
        <h1>Sudoku solver</h1>
        <div class="sudoku-solver">
            <div class="board">
                <!-- Generate 9x9 grid cells for the Sudoku board -->
                {% for i in "012345678" %}
                    {% for j in "012345678" %}
                        <input type="text" maxlength="1" class="cell" id="cell-{{ i }}-{{ j }}">
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="buttons">
                <button class="solve-button">Solve</button>
                <button class="reset-button">Reset</button>
            </div>
            <div class="solution-message"></div>
        </div>
    </body>
</html>